# macOS
.DS_Store
._*

# IntelliJ
.idea/
*.iml

# NPM Dependency directory
node_modules/

# Bower dependency directory
bower_components/

# Gulp output
src/

# Maven
pom.xml
target/

# JBoss
ext-resources/
Help_DB_ita.csv

# Custom
*.pdf
